{% extends 'base_edit.html' %}
{% block viewmodel %}

{% endblock %}

{% block content %}
    <xblock>

        <button class="layui-btn" type="submit" name="search"><i class="layui-icon"></i>保存设备参数</button>

    </xblock>


    <div class="layui-form-item">
        <label for="L_email" class="layui-form-label">
            <span class="x-red">*</span>设备SN
        </label>
        <div class="layui-input-inline">
            <input type="text" id="sn" name="sn" required=""
                   autocomplete="off" class="layui-input" readonly="True">
        </div>
        <div class="layui-form-mid layui-word-aux">
            <span class="x-red">*</span>在设备上可以看到的9位数唯一码
        </div>
    </div>

    <div class="layui-form-item">
        <label for="L_email" class="layui-form-label">
            <span class="x-red">*</span>设备IP
        </label>
        <div class="layui-input-inline">
            <input type="text" id="ip" name="ip" required=""
                   autocomplete="off" class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux">
            <span class="x-red">*</span>设备当前的IP，可以修改
        </div>
    </div>

    <div class="layui-form-item">
        <label for="L_email" class="layui-form-label">
            <span class="x-red">*</span>子网掩码
        </label>
        <div class="layui-input-inline">
            <input type="text" id="netmask" name="netmask" required=""
                   autocomplete="off" class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux">
            <span class="x-red">*</span>
        </div>
    </div>

    <div class="layui-form-item">
        <label for="L_email" class="layui-form-label">
            <span class="x-red">*</span>设备网关
        </label>
        <div class="layui-input-inline">
            <input type="text" id="netgate" name="netgate" required=""
                   autocomplete="off" class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux">
            <span class="x-red">*</span>设备当前的IP，可以修改
        </div>
    </div>

    <div class="layui-form-item">
        <label for="L_email" class="layui-form-label">
            <span class="x-red">*</span>设备MAC
        </label>
        <div class="layui-input-inline">
            <input type="text" id="mac" name="mac" required=""
                   autocomplete="off" class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux">
            <span class="x-red">*</span>
        </div>
    </div>
{% endblock %}
