<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
     <form action='/deviceSet/' method="post">
          {% csrf_token %}
          <input type="submit" name="search_dev" value="搜索控制器"/>
          <input type="submit" name="update_dev" value="修改控制器IP"/>
          <input type="submit" name="open_door" value="远程开门"/><br>

              设备SN:   <input type="text" name="dev_sn" readonly="readonly" value={{ rt_dev_sn }}><br>
              控制器IP: <input type="text" name="dev_ip" value={{ rt_dev_ip }}><br>
              控制器子网掩码:<input type="text" name="dev_netmask" value={{ rt_dev_netmask }}><br>
              控制器网关:<input type="text" name="dev_netgate" value={{ rt_dev_netgate }}><br>
              控制器mac:<input type="text" name="dev_mac" value={{ rt_dev_mac }}><br>
              设备硬件版本：<input type="text" name="dev_ver" value={{ rt_dev_ver }}><br>

     </form>

</body>
</html>